.ninthblock {
  background-image: url('../images/ninthblock-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 80px;
  padding-bottom: 205px;
}

.ninthblock__title {
  margin-bottom: 70px;
}

.ninthblock__statistics-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 103px;
}

.ninthblock__statistics-item {
  width: 31.5%;
}

.ninthblock__statistics-number {
  color: #FFFFFF;
  font-size: 36px;
  line-height: 78px;
  font-family: 'Montserrat';
  margin-bottom: 11px;

  &_yellow{
    font-family: 'MontserratBold';
    font-size: 64px;
    line-height: 78px;
    color: #F2C94C;
    padding-right: 5px;
  }
}

.ninthblock__statistics-text {
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.ninthblock__offer-text {
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 14px;
  padding-left: 3px;
}

.ninthblock__offer-button {
  padding: 19px 55px;
  font-size: 18px;
  line-height: 22px;
  margin-left: 9px;

  &::after {
    transform: translateX(-4px) translateY(4px);
    border: 2px solid #f2c94c
  }
}
